@page
@model razorWebApplication1.Pages.ApiTestModel
@{
}
<h1>keyVaultTest: @Model.OracleDbSecretValue</h1>

<h1>configTest: @Model.OracleDbSecretValue2</h1>
<h1>configTest: @Model.OracleDbSecretValue3</h1>