@page
@model razorWebApplication1.Pages.CreateModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="NAME" class="form-label">NAME</label>
        <input asp-for="Product.Name" class="form-control" /><br />
    </div>
    <div class="mb-3">
        <label for="PRICE" class="form-label">PRICE</label>
        <input asp-for="Product.Price" type="number" class="form-control" step="0.01" /><br />
    </div>
    <button type="submit" class="btn btn-primary">登録</button>
    <a class="btn btn-primary" asp-page="/Select">戻る</a>
</form>

