
name: Deploy DotNet project to Azure Function App

on:
  workflow_dispatch:     # ⬅ 수동 실행 버튼 활성화!
  push:
    branches: ["func_test"]

# 환경변수 적는곳
env:
  AZURE_FUNCTIONAPP_NAME: 'TimerFunctionApp1644'   # 배포할 Azure Function App 이름
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'       # Function App 프로젝트 경로 (기본값: 루트)
  DOTNET_VERSION: '8.0.x'                   # 사용할 .NET 버전

jobs:
  build-and-deploy:
    runs-on: windows-latest # For Linux, use ubuntu-latest
    environment: dev
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    # If you want to use Azure RBAC instead of Publish Profile, then uncomment the task below
    # - name: 'Login via Azure CLI'
    #   uses: azure/login@v1
    #   with:
    #     creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }} # set up AZURE_RBAC_CREDENTIALS secrets in your repository

    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: 'Resolve Project Dependencies Using Dotnet'
      shell: pwsh # For Linux, use bash
      run: |
        pushd 'TimerFuncTest/${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        dotnet build --configuration Release --output ./output
        popd

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
        publish-profile: ${{ secrets.AZURE_TIMER_FUNCTIONAPP_PUBLISH_PROFILE }} # Remove publish-profile to use Azure RBAC


