name: Python Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.14]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: pwd
      working-directory: ./fastapi_project  # pyproject.toml 위치
      run: pwd
      
    - name: Install dependencies
      working-directory: ./fastapi_project  # pyproject.toml 위치
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install
    
    - name: Run tests
      working-directory: ./fastapi_project
      run: poetry run pytest

